.logo {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  padding-left: 25px;
  padding-right: 10px;
  top: 7px;
  color: black;
  margin-top: 10px;
  border-left: 3px solid black;
}
.logo:hover {
  text-decoration: none;
  color: black;
}
.nav-font {
  display: inline-block;
  margin-top: 1px;
  padding: 16px 8px 10px;
  height: 48px;
  font-size: 12px;
  color: black;
}
.nav-font:hover {
  text-decoration: underline 5px solid black;
  color: black;
}
