.footer h6 {
  font-size: 15px;
  font-weight: 900;
  text-align: left;
  padding-left: 10px;
}
.list li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  font-size: 11px;
  padding: 8px;
}
.list ul {
  padding-inline-start: 0px;
}
.list a {
  color: black;
}
.list a:hover {
  color: black;
}
.jumbotron {
  margin-bottom: 0px !important;
}
